@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 220.47 98.26% 36.08%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 92.99% 56.11%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 220.67 97.83% 36.08%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 0 0% 6.27%;
    --foreground: 252 37% 98%;

    --card: 0 0% 6.27%;
    --card-foreground: 252 37% 99%;

    --popover: 0 0% 8.63%;
    --popover-foreground: 252 37% 99%;

    --primary: 27.06 100% 80%;
    --primary-foreground: 0 0% 0%;

    --secondary: 164.12 100% 80%;
    --secondary-foreground: 0 0% 0%;

    --muted: 0 0% 10.98%;
    --muted-foreground: 0 0% 62.75%;

    --accent: 27.06 100% 80%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 21.31% 11.96%;
    --destructive-foreground: 0 100% 75.1%;

    --border: 0 0% 15.69%;
    --input: 0 0% 10.98%;
    --ring: 27.06 100% 80%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.text-shadow-primary {
  color: hsl(var(--primary));
  text-shadow: 0 2px 0 #c6c6c6;
}

.dark .text-shadow-primary {
  text-shadow: 0 2px 0 #494949;
}

.text-shadow-accent {
  --text-border-width: 2px;
  -webkit-text-fill-color: hsl(var(--background));
  -webkit-text-stroke-width: var(--text-border-width);
  -webkit-text-stroke-color: hsl(var(--foreground));
  text-shadow: 0 2px 0 #141414;
}

.dark .text-shadow-accent {
  text-shadow: 0 2px 0 #f7f7f7;
}
