.theme-stone {
  --background: 0 0% 100%;
  --foreground: 20 14.3% 4.1%;

  --muted: 60 4.8% 95.9%;
  --muted-foreground: 25 5.3% 44.7%;

  --popover: 0 0% 100%;
  --popover-foreground: 20 14.3% 4.1%;

  --card: 0 0% 100%;
  --card-foreground: 20 14.3% 4.1%;

  --border: 20 5.9% 90%;
  --input: 20 5.9% 90%;

  --primary: 24 9.8% 10%;
  --primary-foreground: 60 9.1% 97.8%;

  --secondary: 60 4.8% 95.9%;
  --secondary-foreground: 24 9.8% 10%;

  --accent: 60 4.8% 95.9%;
  --accent-foreground: 24 9.8% 10%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 60 9.1% 97.8%;

  --ring: 20 14.3% 4.1%;

  --radius: 0.95rem;
}

.dark .theme-stone {
  --background: 20 14.3% 4.1%;
  --foreground: 60 9.1% 97.8%;

  --muted: 12 6.5% 15.1%;
  --muted-foreground: 24 5.4% 63.9%;

  --popover: 20 14.3% 4.1%;
  --popover-foreground: 60 9.1% 97.8%;

  --card: 20 14.3% 4.1%;
  --card-foreground: 60 9.1% 97.8%;

  --border: 12 6.5% 15.1%;
  --input: 12 6.5% 15.1%;

  --primary: 60 9.1% 97.8%;
  --primary-foreground: 24 9.8% 10%;

  --secondary: 12 6.5% 15.1%;
  --secondary-foreground: 60 9.1% 97.8%;

  --accent: 12 6.5% 15.1%;
  --accent-foreground: 60 9.1% 97.8%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 60 9.1% 97.8%;

  --ring: 24 5.7% 82.9%;
}

.theme-midnight {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --primary: 220.47 98.26% 36.08%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 92.99% 56.11%;
  --destructive-foreground: 210 40% 98%;
  --ring: 220.67 97.83% 36.08%;
  --radius: 0.5rem;
}

.dark .theme-midnight {
  --background: 240 13.73% 10%;
  --foreground: 229.76 31.78% 74.71%;
  --muted: 232.5 15.44% 18.32%;
  --muted-foreground: 233.79 11.37% 50%;
  --popover: 234.55 17.46% 12.35%;
  --popover-foreground: 234 12.4% 52.55%;
  --card: 234.55 17.46% 12.35%;
  --card-foreground: 229.76 31.78% 74.71%;
  --border: 232.5 15.38% 30.59%;
  --input: 232 20% 14.71%;
  --primary: 0 0% 82.75%;
  --primary-foreground: 0 0% 20%;
  --secondary: 225.45 71.22% 72.75%;
  --secondary-foreground: 234.55 17.46% 12.35%;
  --accent: 234.55 17.83% 9.47%;
  --accent-foreground: 0 0% 82.75%;
  --destructive: 1.58 47.5% 52.94%;
  --destructive-foreground: 210 40% 98.04%;
  --ring: 225.45 71.22% 72.75%;
}

.theme-vesper {
  --background: 252 62% 99%;
  --foreground: 252 67% 2%;
  --muted: 72 22% 94%;
  --muted-foreground: 72 1% 39%;
  --popover: 252 62% 98%;
  --popover-foreground: 252 67% 1%;
  --card: 252 62% 98%;
  --card-foreground: 252 67% 1%;
  --border: 252 3% 94%;
  --input: 252 3% 94%;
  --primary: 252 11% 35%;
  --primary-foreground: 252 11% 95%;
  --secondary: 72 11% 35%;
  --secondary-foreground: 0 0% 100%;
  --accent: 72 11% 35%;
  --accent-foreground: 0 0% 100%;
  --destructive: 15 99% 31%;
  --destructive-foreground: 15 99% 91%;
  --ring: 252 11% 35%;
  --radius: 0.5rem;
}

.dark .theme-vesper {
  --background: 0 0% 6.27%;
  --foreground: 252 37% 98%;
  --muted: 0 0% 10.98%;
  --muted-foreground: 0 0% 62.75%;
  --popover: 0 0% 8.63%;
  --popover-foreground: 252 37% 99%;
  --card: 0 0% 6.27%;
  --card-foreground: 252 37% 99%;
  --border: 0 0% 15.69%;
  --input: 0 0% 10.98%;
  --primary: 27.06 100% 80%;
  --primary-foreground: 0 0% 0%;
  --secondary: 164.12 100% 80%;
  --secondary-foreground: 0 0% 0%;
  --accent: 27.06 100% 80%;
  --accent-foreground: 0 0% 0%;
  --destructive: 0 21.31% 11.96%;
  --destructive-foreground: 0 100% 75.1%;
  --ring: 27.06 100% 80%;
}

.theme-forest {
  --background: 137 63% 98%;
  --foreground: 137 72% 4%;
  --muted: 137 23% 93%;
  --muted-foreground: 137 1% 29%;
  --popover: 137 63% 97%;
  --popover-foreground: 137 72% 3%;
  --card: 137 63% 97%;
  --card-foreground: 137 72% 3%;
  --border: 220 13% 91%;
  --input: 220 13% 91%;
  --primary: 137 45% 65%;
  --primary-foreground: 137 45% 95%;
  --secondary: 137 12% 86%;
  --secondary-foreground: 137 12% 26%;
  --accent: 137 18% 76%;
  --accent-foreground: 137 18% 16%;
  --destructive: 9 97% 36%;
  --destructive-foreground: 0 0% 100%;
  --ring: 137 45% 65%;
  --radius: 0.5rem;
}

.dark .theme-forest {
  --background: 137 40% 2%;
  --foreground: 137 12% 99%;
  --muted: 137 23% 7%;
  --muted-foreground: 137 1% 71%;
  --popover: 137 40% 3%;
  --popover-foreground: 0 0% 100%;
  --card: 137 40% 3%;
  --card-foreground: 0 0% 100%;
  --border: 215 27.9% 16.9%;
  --input: 215 27.9% 16.9%;
  --primary: 137 45% 65%;
  --primary-foreground: 137 45% 5%;
  --secondary: 137 18% 14%;
  --secondary-foreground: 137 18% 74%;
  --accent: 137 26% 21%;
  --accent-foreground: 137 26% 81%;
  --destructive: 9 97% 48%;
  --destructive-foreground: 0 0% 100%;
  --ring: 137 45% 65%;
}

.theme-chocolate {
  --background: 36 39% 88%;
  --foreground: 36 45% 15%;
  --muted: 36 33% 75%;
  --muted-foreground: 36 45% 25%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --card: 36 46% 82%;
  --card-foreground: 36 45% 20%;
  --border: 36 45% 60%;
  --input: 36 45% 60%;
  --primary: 36 45% 70%;
  --primary-foreground: 36 45% 90%;
  --secondary: 40 35% 77%;
  --secondary-foreground: 36 45% 25%;
  --accent: 36 64% 57%;
  --accent-foreground: 36 72% 17%;
  --destructive: 0 84% 37%;
  --destructive-foreground: 0 0% 98%;
  --ring: 36 45% 30%;
  --radius: 0.5rem;
}

.dark .theme-chocolate {
  --background: 36 45% 11%;
  --foreground: 36 45% 45%;
  --primary: 36 45% 0%;
  --primary-foreground: 36 45% 21%;
  --secondary: 40 35% 77%;
  --secondary-foreground: 36 45% 25%;
  --accent: 36 64% 57%;
  --accent-foreground: 36 72% 17%;
  --destructive: 0 84% 37%;
  --destructive-foreground: 0 0% 98%;
  --muted: 36 33% 75%;
  --muted-foreground: 36 45% 25%;
  --card: 36 46% 82%;
  --card-foreground: 36 45% 20%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --border: 36 45% 60%;
  --input: 36 45% 60%;
  --ring: 36 45% 30%;
}

.theme-rain {
  --background: 240 5% 6%;
  --foreground: 60 5% 90%;
  --primary: 240 0% 90%;
  --primary-foreground: 60 0% 0%;
  --secondary: 240 4% 15%;
  --secondary-foreground: 60 5% 85%;
  --accent: 240 0% 13%;
  --accent-foreground: 60 0% 100%;
  --destructive: 0 60% 50%;
  --destructive-foreground: 0 0% 98%;
  --muted: 240 5% 25%;
  --muted-foreground: 60 5% 85%;
  --card: 240 4% 10%;
  --card-foreground: 60 5% 90%;
  --popover: 240 5% 15%;
  --popover-foreground: 60 5% 85%;
  --border: 240 6% 20%;
  --input: 240 6% 20%;
  --ring: 240 5% 90%;
  --radius: 0.5rem;
}

.dark .theme-rain {
  --background: 240 5% 6%;
  --foreground: 60 5% 90%;
  --primary: 240 0% 90%;
  --primary-foreground: 60 0% 0%;
  --secondary: 240 4% 15%;
  --secondary-foreground: 60 5% 85%;
  --accent: 240 0% 13%;
  --accent-foreground: 60 0% 100%;
  --destructive: 0 60% 50%;
  --destructive-foreground: 0 0% 98%;
  --muted: 240 5% 25%;
  --muted-foreground: 60 5% 85%;
  --card: 240 4% 10%;
  --card-foreground: 60 5% 90%;
  --popover: 240 5% 15%;
  --popover-foreground: 60 5% 85%;
  --border: 240 6% 20%;
  --input: 240 6% 20%;
  --ring: 240 5% 90%;
}
