.theme-midnight {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --primary: 220.47 98.26% 36.08%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 92.99% 56.11%;
  --destructive-foreground: 210 40% 98%;
  --ring: 220.67 97.83% 36.08%;
  --radius: 0.5rem;
}

.dark .theme-midnight {
  --background: 240 13.73% 10%;
  --foreground: 229.76 31.78% 74.71%;
  --muted: 232.5 15.44% 18.32%;
  --muted-foreground: 233.79 11.37% 50%;
  --popover: 234.55 17.46% 12.35%;
  --popover-foreground: 234 12.4% 52.55%;
  --card: 234.55 17.46% 12.35%;
  --card-foreground: 229.76 31.78% 74.71%;
  --border: 232.5 15.38% 30.59%;
  --input: 232 17.31% 29.9%;
  --primary: 225.45 71.22% 72.75%;
  --primary-foreground: 234.55 17.46% 12.35%;
  --secondary: 0 0% 82.75%;
  --secondary-foreground: 0 0% 20%;
  --accent: 227.73 48.05% 48.58%;
  --accent-foreground: 210 40% 98%;
  --destructive: 1.58 47.5% 52.94%;
  --destructive-foreground: 210 40% 98.04%;
  --ring: 225.45 71.22% 72.75%;
}

.theme-stone {
  --background: 0 0% 100%;
  --foreground: 20 14.3% 4.1%;

  --muted: 60 4.8% 95.9%;
  --muted-foreground: 25 5.3% 44.7%;

  --popover: 0 0% 100%;
  --popover-foreground: 20 14.3% 4.1%;

  --card: 0 0% 100%;
  --card-foreground: 20 14.3% 4.1%;

  --border: 20 5.9% 90%;
  --input: 20 5.9% 90%;

  --primary: 24 9.8% 10%;
  --primary-foreground: 60 9.1% 97.8%;

  --secondary: 60 4.8% 95.9%;
  --secondary-foreground: 24 9.8% 10%;

  --accent: 60 4.8% 95.9%;
  --accent-foreground: 24 9.8% 10%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 60 9.1% 97.8%;

  --ring: 20 14.3% 4.1%;

  --radius: 0.95rem;
}

.dark .theme-stone {
  --background: 20 14.3% 4.1%;
  --foreground: 60 9.1% 97.8%;

  --muted: 12 6.5% 15.1%;
  --muted-foreground: 24 5.4% 63.9%;

  --popover: 20 14.3% 4.1%;
  --popover-foreground: 60 9.1% 97.8%;

  --card: 20 14.3% 4.1%;
  --card-foreground: 60 9.1% 97.8%;

  --border: 12 6.5% 15.1%;
  --input: 12 6.5% 15.1%;

  --primary: 60 9.1% 97.8%;
  --primary-foreground: 24 9.8% 10%;

  --secondary: 12 6.5% 15.1%;
  --secondary-foreground: 60 9.1% 97.8%;

  --accent: 12 6.5% 15.1%;
  --accent-foreground: 60 9.1% 97.8%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 60 9.1% 97.8%;

  --ring: 24 5.7% 82.9%;
}

.theme-vesper {
  --background: 252 62% 99%;
  --foreground: 252 67% 2%;
  --muted: 72 22% 94%;
  --muted-foreground: 72 1% 39%;
  --popover: 252 62% 98%;
  --popover-foreground: 252 67% 1%;
  --card: 252 62% 98%;
  --card-foreground: 252 67% 1%;
  --border: 252 3% 94%;
  --input: 252 3% 94%;
  --primary: 252 11% 35%;
  --primary-foreground: 252 11% 95%;
  --secondary: 72 11% 35%;
  --secondary-foreground: 0 0% 100%;
  --accent: 72 11% 35%;
  --accent-foreground: 0 0% 100%;
  --destructive: 15 99% 31%;
  --destructive-foreground: 15 99% 91%;
  --ring: 252 11% 35%;
  --radius: 0.5rem;
}

.dark .theme-vesper {
  --background: 0 0% 6.27%;
  --foreground: 252 37% 98%;
  --muted: 0 0% 10.98%;
  --muted-foreground: 0 0% 62.75%;
  --popover: 0 0% 8.63%;
  --popover-foreground: 252 37% 99%;
  --card: 0 0% 6.27%;
  --card-foreground: 252 37% 99%;
  --border: 0 0% 15.69%;
  --input: 0 0% 10.98%;
  --primary: 27.06 100% 80%;
  --primary-foreground: 0 0% 0%;
  --secondary: 164.12 100% 80%;
  --secondary-foreground: 0 0% 0%;
  --accent: 27.06 100% 80%;
  --accent-foreground: 0 0% 0%;
  --destructive: 0 21.31% 11.96%;
  --destructive-foreground: 0 100% 75.1%;
  --ring: 27.06 100% 80%;
}

.theme-forest {
  --background: 137 63% 98%;
  --foreground: 137 72% 4%;
  --muted: 137 23% 93%;
  --muted-foreground: 137 1% 29%;
  --popover: 137 63% 97%;
  --popover-foreground: 137 72% 3%;
  --card: 137 63% 97%;
  --card-foreground: 137 72% 3%;
  --border: 220 13% 91%;
  --input: 220 13% 91%;
  --primary: 137 45% 65%;
  --primary-foreground: 137 45% 95%;
  --secondary: 137 12% 86%;
  --secondary-foreground: 137 12% 26%;
  --accent: 137 18% 76%;
  --accent-foreground: 137 18% 16%;
  --destructive: 9 97% 36%;
  --destructive-foreground: 0 0% 100%;
  --ring: 137 45% 65%;
  --radius: 0.5rem;
}

.dark .theme-forest {
  --background: 137 40% 2%;
  --foreground: 137 12% 99%;
  --muted: 137 23% 7%;
  --muted-foreground: 137 1% 71%;
  --popover: 137 40% 3%;
  --popover-foreground: 0 0% 100%;
  --card: 137 40% 3%;
  --card-foreground: 0 0% 100%;
  --border: 215 27.9% 16.9%;
  --input: 215 27.9% 16.9%;
  --primary: 137 45% 65%;
  --primary-foreground: 137 45% 5%;
  --secondary: 137 18% 14%;
  --secondary-foreground: 137 18% 74%;
  --accent: 137 26% 21%;
  --accent-foreground: 137 26% 81%;
  --destructive: 9 97% 48%;
  --destructive-foreground: 0 0% 100%;
  --ring: 137 45% 65%;
}

.theme-coffee {
  --background: 0 0% 97.65%;
  --foreground: 0 0% 12.55%;
  --muted: 0 0% 93.73%;
  --muted-foreground: 0 0% 39.22%;
  --popover: 0 0% 98.82%;
  --popover-foreground: 0 0% 12.55%;
  --card: 0 0% 98.82%;
  --card-foreground: 0 0% 12.55%;
  --border: 0 0% 84.71%;
  --input: 0 0% 94.12%;
  --primary: 16.27 21.6% 32.26%;
  --primary-foreground: 44 0% 100%;
  --secondary: 34.05 100% 85.49%;
  --secondary-foreground: 16.27 50.43% 22.94%;
  --accent: 0 0% 90.98%;
  --accent-foreground: 0 0% 12.55%;
  --destructive: 10.16 77.87% 53.92%;
  --destructive-foreground: 0 0% 100%;
  --ring: 24.8 79.79% 63.14%;
}

.dark .theme-coffee {
  --background: 0 0% 6.67%;
  --foreground: 0 0% 93.33%;
  --muted: 0 0% 13.33%;
  --muted-foreground: 0 0% 70.59%;
  --popover: 0 0% 9.8%;
  --popover-foreground: 0 0% 93.33%;
  --card: 0 0% 9.8%;
  --card-foreground: 0 0% 93.33%;
  --border: 44 14% 11%;
  --input: 0 0% 28.24%;
  --primary: 29.51 100% 88.04%;
  --primary-foreground: 185.66 54.05% 6.99%;
  --secondary: 28.5 17.53% 18.98%;
  --secondary-foreground: 29.51 100% 88.04%;
  --accent: 0 0% 16.47%;
  --accent-foreground: 0 0% 93.33%;
  --destructive: 10.16 77.87% 53.92%;
  --destructive-foreground: 0 0% 100%;
  --ring: 29.51 100% 88.04%;
}

.theme-club {
  --background: 220 60% 99.02%;
  --foreground: 0 0% 11.37%;
  --muted: 195 11.11% 92.94%;
  --muted-foreground: 210 1.19% 32.94%;
  --popover: 0 0% 99%;
  --popover-foreground: 0 0% 0%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 11.37%;
  --border: 200 9.68% 93.92%;
  --input: 200 9.68% 93.92%;
  --primary: 0 51.85% 57.65%;
  --primary-foreground: 243 0% 100%;
  --secondary: 15 8.42% 37.25%;
  --secondary-foreground: 243 0% 100%;
  --accent: 30 8.47% 76.86%;
  --accent-foreground: 0 0% 11.37%;
  --destructive: 0 100% 37.65%;
  --destructive-foreground: 0 0% 100%;
  --ring: 216 100% 15.69%;
  --radius: 0.5rem;
}

.dark .theme-club {
  --background: 243 52% 4%;
  --foreground: 243 30% 98%;
  --muted: 243 10% 14%;
  --muted-foreground: 243 10% 73%;
  --popover: 243 52% 5%;
  --popover-foreground: 243 30% 99%;
  --card: 243 52% 5%;
  --card-foreground: 243 30% 99%;
  --border: 243 10% 10%;
  --input: 243 10% 10%;
  --primary: 243 46% 19%;
  --primary-foreground: 243 46% 79%;
  --secondary: 243 12% 12%;
  --secondary-foreground: 243 12% 72%;
  --accent: 243 21% 18%;
  --accent-foreground: 243 21% 78%;
  --destructive: 1 97% 46%;
  --destructive-foreground: 0 0% 100%;
  --ring: 243 46% 19%;
}
